<section id="about">
    <div class="about-box">
        <h2 class="section-name">About</h2>
        <div class="aboutdesc">
            <div class="about_text">
                <p class="text">I'm a fourth year student of KIBU on the edge of dropping out owing to lack of school fees. When I'm free, I tickle with web apps!</p>
                <div class="recent-work-cta">
                    <a class="recent-work" rel="noreferrer" target="_blank"
                        href="https://techbrv.vercel.app">My website<i
                                class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="pic">
                <img loading="lazy" src="./assets/profilePicCompressed.png" alt="potrait">
            </div>
        </div>
    </div>
</section>
