<section id="about">
    <div class="about-box">
        <h2 class="section-name">It starts with you</h2>
        <div class="aboutdesc">
            <div class="about_text">
                <p class="text">Your donation will see a poor village boy from Nyeri, Simon Wokabi through the 3rd and 4th year at Kibabii University this year.</p>
                <div class="recent-work-cta">
                    <a class="recent-work" rel="noreferrer" target="_blank"
                        href="https://technul.vercel.app">Visit Site<i
                                class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="pic">
                <img loading="lazy" src="./assets/profilePicCompressed.png" alt="Muchoki">
            </div>
        </div>
    </div>
</section>
