<section id="about">
    <div class="about-box">
        <h2 class="section-name">About</h2>
        <div class="aboutdesc">
            <div class="about_text">
                <p class="text">I'm a 3rd year student (KIBU) humbly seeking your support and contribution towards school fees. I dabble in web dev when free.</p>
                <div class="recent-work-cta">
                    <a class="recent-work" rel="noreferrer" target="_blank"
                        href="https://technul.vercel.app">Check my website<i
                                class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="pic">
                <img loading="lazy" src="./assets/profilePicCompressed.png" alt="Muchoki">
            </div>
        </div>
    </div>
</section>
