<section id="contact">
    <div class="contact-box">
        <h2 class="section-name">Contact</h2>
        <div class="contact-info">
            <div>
               Thanks for being there. I depend on your contribution now to make a bright future for all of us. 
Through God, we won battles before and I know we'll win this one too.
To stay updated let's connect on the&nbsp;<a aria-label="WhatsApp group"
                    href="https://chat.whatsapp.com/CttUkkO8vArLI1gSUQuVRv">WhatsApp Group</a>.
            </div>
            <div>
               Your small act of kindness will go a long way.< /br> God bless you 🙏
            </div>
        </div>
    </div>
</section>
