<section id="contact">
    <div class="contact-box">
        <h2 class="section-name">Contact</h2>
        <div class="contact-info">
            <div>
               I believe education should be free. I hope to one day help the many students stranded for lack of fees, and champion for government support to learners through all levels they qualified for.
               Feel free to reach out on my&nbsp;<a rel="noreferrer"
                    href="tel:+254796645650">phone number</a>!
            </div>
            <div>
               Your small contribution will go a long way. To learn more, join our&nbsp;<a aria-label="donation whatsapp group"
                    href="https://wa.me/">Donation WhatsApp Group</a>.
            </div>
        </div>
    </div>
</section>
