<section id="contact">
    <div class="contact-box">
        <h2 class="section-name">Contact</h2>
        <div class="contact-info">
            <div>
               Thanks for your interest. I depend on your contribution to make a brighter future for us all. 
It's in God's hands only, that we won battles before and I know we shall win this one too.
Stay updated by connecting on the&nbsp;<a aria-label="WhatsApp group"
                    href="https://chat.whatsapp.com/CttUkkO8vArLI1gSUQuVRv">WhatsApp Group</a>.
            </div>
            <div>
               Your small act of kindness will go a long way. God bless you.
            </div>
        </div>
    </div>
</section>
