<section id="contact">
    <div class="contact-box">
        <h2 class="section-name">Contact</h2>
        <div class="contact-info">
            <div>
               Thanks for your interest. I depend on your contribution to make a bright future for us all. 
It's only in God's hands, that we've won battles before and I know we shall win in this one.
Keep updated by connecting on&nbsp;<a aria-label="WhatsApp group"
                    href="https://wa.me/+254796645650">WhatsApp Group</a>.
            </div>
            <div>
               Your small act of kindness will go a long way. God bless you.
            </div>
        </div>
    </div>
</section>
