<section id="contact">
    <div class="contact-box">
        <h2 class="section-name">It takes a village</h2>
        <div class="contact-info">
            <div>
               A candle loses nothing by lighting another candle.<br />We never forgot all it took everyone and the village to afford a 2500/= fee per term in high school.<br />Thanks for being there.
            </div>
            <div>
               We need each other more than we’d like to believe.<br />Even the smallest act of kindness is worth more than the grandest intention.<br />By giving a little today, you will help out a lot.
            </div>
            <div>
               Finally, the future depends on you and a few others who are already connected on this&nbsp;<a aria-label="Donation WhatsApp group"
                    href="https://chat.whatsapp.com/CttUkkO8vArLI1gSUQuVRv">WhatsApp Group</a> to support this cause. 
            <br /> Thank you, God bless you 🙏
            </div>
        </div>
    </div>
</section>
