<section id="experience">
    <div class="experience-box">
        <h2 class="section-name">It's more than just help</h2>
        <div class="experience-data">
            <div class="data-box">
                <div class="timeline">
                    <div class="line"></div>
                    <div class="point"></div>
                </div>
                <div class="data">
                    <div class="role"><a rel="nofollow noreferrer" target="_blank"
                            href="https://raw.githubusercontent.com/techbrv/simonpmw/main/public/assets/FESS%20KUCCPS-2021-2022-fee-structures_0.jpg">Undergraduate</a></div>
                    <div class="time">B.A Social Work — Kibabii University</div>
                    <div class="exp-desc">4th Year</div>
                </div>
            </div>
            <div class="data-box">
                <div class="timeline">
                    <div class="line"></div>
                    <div class="point"></div>
                </div>
                <div class="data">
                    <div class="role"><a rel="noreferrer" target="_blank"
                            href="https://raw.githubusercontent.com/techbrv/simonpmw/main/public/assets/M%20FORM%204%20CERT.jpg">O' Levels</a></div>
                    <div class="time">K.C.S.E — Ngamwa/ Karaba Sec.</div>
                    <div class="exp-desc">Grade B+</div>
                </div>
            </div>
            <div class="data-box">
                <div class="timeline">
                    <div class="line"></div>
                    <div class="point"></div>
                </div>
                <div class="data">
                    <div class="role"><a rel="noreferrer" target="_blank"
                            href="google.com/search?q=karaba+primary+school+nyeri">Primary Level</a></div>
                    <div class="time">K.C.P.E — Karaba Primary</div>
                    <div class="exp-desc">345/500</div>
                </div>
            </div>
        </div>
    </div>
</section>
