<section id="experience">
    <div class="experience-box">
        <h2 class="section-name">Education</h2>
        <div class="experience-data">
            <div class="data-box">
                <div class="timeline">
                    <div class="line"></div>
                    <div class="point"></div>
                </div>
                <div class="data">
                    <div class="role"><a rel="nofollow noreferrer" target="_blank"
                            href="https://kibu.ac.ke">Kibabii University — B.A Social Work</a></div>
                    <div class="time">Sept 2015 - Present</div>
                    <div class="exp-desc">3rd year student</div>
                </div>
            </div>
            <div class="data-box">
                <div class="timeline">
                    <div class="line"></div>
                    <div class="point"></div>
                </div>
                <div class="data">
                    <div class="role"><a rel="noreferrer" target="_blank"
                            href="https://cert-image.webp">Ngamwa/Karaba Sec. - K.C.S.E</a></div>
                    <div class="time">2009 - 2014</div>
                    <div class="exp-desc">Mean grade B+</div>
                </div>
            </div>
            <div class="data-box">
                <div class="timeline">
                    <div class="line"></div>
                    <div class="point"></div>
                </div>
                <div class="data">
                    <div class="role"><a rel="noreferrer" target="_blank"
                            href="https://cert-image.webp">Karaba Primary — K.C.P.E</a></div>
                    <div class="time">Jan, 2000 - 2008</div>
                    <div class="exp-desc">345 marks</div>
                </div>
            </div>
        </div>
    </div>
</section>
