<section id="landing">
    <div class="code_like_text_contain">
        <div id="code_editor_containing_name">
            <div class="code_editor_style">
                <div class="dummy_controls">
                    <div class="circle" id="circle1"></div>
                    <div class="circle" id="circle2"></div>
                    <div class="circle" id="circle3"></div>
                </div>
            </div>
            <div class="code_editor_content">
                <div class="greet">
                    <h1 id="first-h1">If you're waiting</h1>
                    <h2 id="second-h1">for a sign, this is it</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="code_like_text_contain">
        <div id="code_editor_containing_desc">
            <div class="code_editor_style">
                <div class="dummy_controls">
                    <div class="circle" id="circle1"></div>
                    <div class="circle" id="circle2"></div>
                    <div class="circle" id="circle3"></div>
                </div>
            </div>
            <div class="desc_content">
                <div class="desc_text">
                    <span>3rd</span><span>y</span><span>e</span><span>a</span><span>r</span><span>s</span><span>t</span><span>u</span><span>&nbsp</span><span>d</span><span>e</span><span>n</span><span>t</span><span>k</span><span>i</span><span>b</span><span>u</span><span>)</span>
                </div>
                <div id="icon1">
                    <i class="fas fa-laptop-code"></i>
                </div>
                <div id="icon2">
                    <i class="far fa-keyboard"></i>
                </div>
                <div id="icon3">
                    <i class="fas fa-code"></i>
                </div>
                <div id="icon4">
                    <i class="fas fa-terminal"></i>
                </div>
                <div id="icon5">
                    <i class="fas fa-blog"></i>
                </div>
            </div>
        </div>
    </div>
</section>
