<section id="projects">
    <div class="projects-box">
        <h2 class="section-name">Latest Documents</h2>
        <div class="project-list">
            <div class="dev-projects-title" aria-label="drop down button" role="button" tabindex="0">
                <p class="text">To Contribute</p>
                <div class="drop"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="dev-projects">
                <div class="block">
                    <p class="project-title">To Fees</p>
                    <p class="project-desc">Donate directly to the school fee account. </p>
                    <a role="link" rel="noreferrer" target="_blank" href="https://syntackle.live">
                        <div class="project-view">View Acc. No.(s)</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">M-PESA Till</p>
                    <p class="project-desc">Donate via the toll-free Buy Goods Till Number 5828535, Name- Simon</p>
                    <a role="link" rel="noreferrer" target="_blank" href="https://feedsys.netlify.app/">
                        <div class="project-view">View Image</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">M-PESA Number</p>
                    <p class="project-desc">0796 645 650. Also for calls, sms, WhatsApp. </p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://github.com/murtuzaalisurti/wavy">
                        <div class="project-view">Save Contact</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">PayPal</p>
                    <p class="project-desc">Email: xpatworld2021@gmail.com. Allows use of credit / debit card, MasterCard, Visa.</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://contact-card.vercel.app/?ref=portfolio">
                        <div class="project-view">Donate Now</div>
                    </a>
                </div>
                
            </div>
            <div class="blogs-title" aria-label="drop down button" role="button" tabindex="0">
                <p class="text">Certificates</p>
                <div class="drop"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="blog-projects">
                <div class="block">
                    <p class="project-title">2nd Year Transcript</p>
                    <a role="link" rel="noreferrer" target="_blank" href="https://syntackle.live">
                        <div class="project-view">View PDF</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">1st Year Transcript</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://css-tricks.com/author/murtuzaalisurti/">
                        <div class="project-view">View PDF</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Fee Statement</p>
                    <a role="link" rel="noreferrer" target="_blank" href="https://dev.to/murtuzaalisurti">
                        <div class="project-view">View PDF</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Send Home Letter</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://murtuzas-blog-posts.onrender.com/">
                        <div class="project-view">View PDF</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Dean of Students</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://murtuzas-blog-posts.onrender.com/">
                        <div class="project-view">View PDF</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Form Four Cert.</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://drive.google.com/file/d/1orYQXguFMRKHTdFn052tR-A0rYDyV9NO/view?usp=drivesdk">
                        <div class="project-view">View PDF</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
