<section id="projects">
    <div class="projects-box">
        <h2 class="section-name">When one gives, two get happy</h2>
        <div class="project-list">
            <div class="dev-projects-title" aria-label="drop down button" role="button" tabindex="0">
                <p class="text">Easily Give</p>
                <div class="drop"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="dev-projects">
                <div class="block">
                    <p class="project-title">University Acc.</p>
                    <p class="project-desc">Contribute directly to school fees. </p>
                    <a role="link" rel="noreferrer" target="_blank" href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/techbrv/simonpmw/master/public/assets/FESS%20KUCCPS-2021-2022-fee-structures.pdf">
                        <div class="project-view">View</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Business Till</p>
                    <p class="project-desc">Using M-PESA Buy Goods Till Number 5828535, toll free</p>
                    <a role="link" rel="noreferrer" target="_blank" href="https://raw.githubusercontent.com/techbrv/simonpmw/main/public/assets/5828535%20-%20Mpesa%20Till%20Number%20(Simon%20Wokabi).jpg">
                        <div class="project-view">View</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Mobile No.</p>
                    <p class="project-desc">For calls, text, WhatsApp, Mpesa – 0796 645 650.</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="tel:+254 796 645 650">
                        <div class="project-view">Dial</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">PayPal</p>
                    <p class="project-desc">Securely using Bank card, Credit/ Debit card, MasterCard, Visa.</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://www.paypal.com/donate/?hosted_button_id=8TUHRPTVV8YYJ">
                        <div class="project-view">Donate</div>
                    </a>
                </div>
                
            </div>
            <div class="blogs-title" aria-label="drop down button" role="button" tabindex="0">
                <p class="text">Be part of a breakthrough(docs)</p>
                <div class="drop"><i class="fas fa-chevron-down"></i></div>
            </div>
            <div class="blog-projects">
                <div class="block">
                    <p class="project-title">Transcript</p>
                    <a role="link" rel="noreferrer" target="_blank" href="https://raw.githubusercontent.com/techbrv/simonpmw/main/public/assets/SECOND%20YEAR%2020-21%20TRANSCRIPT_0.jpg">
                        <div class="project-view">View</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Fee Statement</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://docs.google.com/viewer?url=https://raw.githubusercontent.com/techbrv/simonpmw/master/public/assets/FeeStatement-BSW_0005_14-19%20Nov%202022.pdf">
                        <div class="project-view">View</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Fee Structure</p>
                    <a role="link" rel="noreferrer" target="_blank" href="https://raw.githubusercontent.com/techbrv/simonpmw/main/public/assets/FESS%20KUCCPS-2021-2022-fee-structures_0.jpg">
                        <div class="project-view">View</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">DOS Letter</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://raw.githubusercontent.com/techbrv/simonpmw/main/public/assets/kibu%20send%20home%20counseling%20letter.png">
                        <div class="project-view">View</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">ID</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://raw.githubusercontent.com/techbrv/simonpmw/main/public/assets/Wokabi%20Simon%20Kibu%20School%20ID%20front%20and%20back.jpg">
                        <div class="project-view">View</div>
                    </a>
                </div>
                <div class="block">
                    <p class="project-title">Form 4 Cert.</p>
                    <a role="link" rel="noreferrer" target="_blank"
                        href="https://raw.githubusercontent.com/techbrv/simonpmw/main/public/assets/M%20FORM%204%20CERT.jpg">
                        <div class="project-view">View</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
