<section id="skills">
    <div class="skills-box">
        <h2 class="section-name">What I do Today</h2>
        <div class="skill-cards">
            <div class="cards-contain">
                <div class="cards">
                    <div class="card card-1-pos" id="card-1">
                        <div class="content">
                            <div class="skill-logo"><i class="fas fa-laptop"></i><i
                                    class="fas fa-keyboard"></i></div>
                            <p class="skill-title">At HalisiTech Africa</p>
                            <p class="skill-desc">Cyber services, sales & repair of laptops, mobile phones and accessories. </p>
                        </div>
                    </div>
                    <div class="card card-2-pos" id="card-2">
                        <div class="content">
                            <div class="skill-logo"><i class="fas fa-desktop"></i><i
                                    class="fas fa-gift"></i></div>
                            <p class="skill-title">At TechBrv.vercel.app</p>
                            <p class="skill-desc">8+ years experience in web & application development. Visit for courses, templates & software free for download. </p>
                        </div>
                    </div>
                    <div class="card card-3-pos" id="card-3">
                        <div class="content">
                            <div class="skill-logo"><i class="fas fa-graduation-cap"></i><i class="fas fa-book"></i></div>
                            <p class="skill-title">Studies at KIBU</p>
                            <p class="skill-desc">Humbly seeking your support and contribution towards school fees. More details at the bottom. </p>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <button class="btn-1 btn" aria-label="slide left">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                    <button class="btn-2 btn" aria-label="slide-right">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
                <div class="cards-contain-inset-shadow"></div>
            </div>
        </div>
    </div>
</section>
