<section id="skills">
    <div class="skills-box">
        <h2 class="section-name">Seeking Help</h2>
        <div class="skill-cards">
            <div class="cards-contain">
                <div class="cards">
                    <div class="card card-1-pos" id="card-1">
                        <div class="content">
                            <div class="skill-logo"><i class="fas fa-graduation-cap"></i><i
                                    class="fas fa-wave"></i></div>
                            <p class="skill-title">Current Status</p>
                            <p class="skill-desc">Sent home for fees on July 2022 at the second semester of 3rd year. </p>
                        </div>
                    </div>
                    <div class="card card-2-pos" id="card-2">
                        <div class="content">
                            <div class="skill-logo"><i class="fas fa-heart"></i><i
                                    class="fas fa-broom"></i></div>
                            <p class="skill-title">Hope</p>
                            <p class="skill-desc">I'm humbly seeking contribution towards school fees from all family, friends and well wishers. </p>
                        </div>
                    </div>
                    <div class="card card-3-pos" id="card-3">
                        <div class="content">
                            <div class="skill-logo"><i class="fas fa-dollar-sign"></i><i class="fas fa-bag"></i></div>
                            <p class="skill-title">The Amount</p>
                            <p class="skill-desc">Looking to raise the unpaid fee balance of Ksh 70, 000 /= (US $750) </p>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <button class="btn-1 btn" aria-label="slide left">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                    <button class="btn-2 btn" aria-label="slide-right">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
                <div class="cards-contain-inset-shadow"></div>
            </div>
        </div>
    </div>
</section>
