<section id="skills">
    <div class="skills-box">
        <h2 class="section-name">Be part of a Breakthrough</h2>
        <div class="skill-cards">
            <div class="cards-contain">
                <div class="cards">
                    <div class="card card-1-pos" id="card-1">
                        <div class="content">
                            <div class="skill-logo"><i class="fas fa-graduation-cap"></i><i
                                    class="fas fa-wave"></i></div>
                            <p class="skill-title">Jul '22</p>
                            <p class="skill-desc">Dropped out of school for lack of fees in the 2nd semester, 3rd year. </p>
                        </div>
                    </div>
                    <div class="card card-2-pos" id="card-2">
                        <div class="content">
                            <div class="skill-logo"><i class="fas fa-heart"></i><i
                                    class="fas fa-broom"></i></div>
                            <p class="skill-title">Hoping</p>
                            <p class="skill-desc">humbly for your assistance in raising the outstanding fee balance, or get an enabling job.
 </p>
                        </div>
                    </div>
                    <div class="card card-3-pos" id="card-3">
                        <div class="content">
                            <div class="skill-logo"><i class="fas fa-dollar-sign"></i><i class="fas fa-bag"></i></div>
                            <p class="skill-title">Amount</p>
                            <p class="skill-desc">At least  70, 000 /= in fees arrears until completion, this year. </p>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <button class="btn-1 btn" aria-label="slide left">
                        <i class="fas fa-arrow-left"></i>
                    </button>
                    <button class="btn-2 btn" aria-label="slide-right">
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
                <div class="cards-contain-inset-shadow"></div>
            </div>
        </div>
    </div>
</section>
